@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: "#f6d050"
  --font-color: "#121212"
}

body {
  margin: 0;
  font-family: "FigTree", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
